//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto+Sans" !default;
$header-font-family-url: "//fonts.googleapis.com/css?family=Raleway:300" !default;

@import url( #{$font-family-url}    );
@import url( #{$header-font-family-url} );

@import "compass/reset";
@import "compass/css3";

@import "modules/icons";

body{
	font-family: "Noto Sans", Arial, sans-serif;
	font-size: 16px;
	background: #F9F9F9;
}

.skip{
	display: none;
}

#sites{
	background-color: #43a7c8;
	max-height: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	left: -400px;
	top: 0;
	width: 240px;
	@include box-shadow( 0 0 16px rgba(0,0,0,0.5) );
	@include transition(left 0.25s linear);
	&.showed{
		left: 0;
		z-index: 10;
	}
	ul{
		li{
			a{
				display: block;
				padding: 16px 16px;
				color: #f9f9f9;
				font-size: 14px;
				text-decoration: none;
				border-bottom: 1px solid darken( #43a7c8, 10% );
			}
		}
	}
}

#div_overlay{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(255,255,255,0.1);
}

#toolMenu{
	background-color: #434343;
	height: 100%;
	max-height: 100%;
	overflow: auto;
	position: fixed;
	right: -400px;
	top: 0;
	width: 240px;
	@include box-shadow( 0 0 16px rgba(0,0,0,0.5) );
	@include transition(right 0.25s linear);
	&.showed{
		right: 0;
		z-index: 10;
	}
	ul{
		li{
			a{
				display: block;
				padding: 16px 16px;
				color: #f9f9f9;
				font-size: 14px;
				text-decoration: none;
				border-bottom: 1px solid lighten( #434343, 10% );
			}
		}
	}
}

#navigation_mobile{
	background-color: #FFF;
	border-top: 1px solid #D8D8D8;
	position: fixed;
	bottom: 0px;
	width: 100%;
	font-size: 12px;
	z-index: 25;
	@include transition(bottom 0.25s linear);
	&.showing{
		bottom: -100px;
	}
	ul{
		li{
			display: inline-block;
			padding: 12px 16px; 
			text-transform: uppercase;
			width: calc( 50% - 36px );
			text-align: center;
			&:first-child{
				border-right: 1px solid #F0F0F0;
			}
			span{
				color: darken(#43a7c8, 10%);
				cursor: pointer;
				display: block;
			}
		}
	}
	#avisos{
		position: absolute;
		display: block;
		cursor: pointer;
		width: 7px;
		margin-top: 0px;
		z-index: 30;
		background-color: darken(red, 15%);
		padding: 10px 13px;
		color: #F0F0F0;
		text-align: center;
		left: calc( 50% - 20px);
		@include border-radius( 30px );
		@include transition(margin-bottom, 0.25s linear);
		&.showed{
			margin-top: -34px;
		}
	}
	#chat{
		background-color: #43a7c8;
		color: #F9F9F9;
		position: absolute;
		font-size: 18px;
		bottom: 48px;
		right: 16px;
		padding: 17px 13px;
		text-align: center;
		@include border-radius( 45px );
		@include transition(bottom, 0.25s linear);
		@include box-shadow(0px 2px 5px rgba(0,0,0,0.5));
		&.showing{
			bottom: 16px;
		}
	}
}

#tool{
	padding: 76px 0;
	header{
		background-color: darken(#43a7c8, 10%);
		color: #F0F0F0;
		padding: 8px 16px;
		font-family: "Raleway", sans-serif;
		font-size: 1.4em;
		.toolbar{
			float: right;
			i{
				color: #F0F0F0;
			    display: inline-block;
			    margin: 0 8px 0 0;
			}
		}
	}
	.content{
		padding: 16px;
		p{
			padding: 0 0 16px 0;
			font-size: 14px;
			line-height: 1.45;
		}
	}
}

#sakai_header{
	background-color: #43a7c8;
	color: #F0F0F0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	@include transition(top 0.25s linear);
	&.showing{
		top: -100px;
	}
	i{
		color: #F0F0F0;
	}
	.tohome{
		padding: 10px 12px 8px 12px;
		border-right: 1px solid darken(#43a7c8, 10%);
		font-size: 18px;
		display: inline-block;
	}
	.avatar{		
		float: right;
		width: 28px;
		height: 28px;
		overflow: hidden;
		margin: 4px 6px 0 0;
		@include border-radius( 28px );
		img{
			width: 50px;
		    position: relative;
		    right: 11px;
		}
	}
	.sakai_logo{
		width: 40px;
		position: relative;
		top: 5px;
		left: 10px;
	}
	.logout{
		float: right;
		padding: 10px 12px 8px 12px;
		border-left: 1px solid darken(#43a7c8, 10%);
		font-size: 18px;
		display: inline-block;	
	}
	.sitename{
		font-family: "Raleway", sans-serif;
		display: block;
	    font-size: 14px;
	    padding: 12px 16px;
	    border-top: 1px solid darken(#43a7c8, 10%);
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
}

h1{
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	padding: 0 0 12px 0;
}

#overlay_notify{
	background-color: rgba(0,0,0,0.25);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	text-align: center;
	display: none;
	.popup{
		background-color: #F9F9F9;
		text-align: left;
		width: 75%;
		margin: 96px auto;
		@include border-radius( 5px );
		@include box-shadow(0 0 5px rgba(0,0,0,0.25) );
		h2{
			padding: 16px 16px;
			font-family: "Raleway", sans-serif;
			font-size: 1.2em;
			color: #43a7c8;
			border-bottom: 1px solid #D8D8D8;
		}
		ul{
			padding: 0 0 16px 0;
			li{
				padding: 8px 16px;
				border-bottom: 1px solid #D8D8D8;
				line-height: 1.25;
				font-size: 14px;
				strong{
					font-weight: 700;
				}
			}
		}
	}
}